@import '@/styles/global.scss';

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    box-shadow: $box-shadow;

    label {
        font-size: 1rem;
        color: $primary;
        opacity: 0.5;
    }

    input {
        height: 3.5rem;
        width: 100%;
        padding: 0 1rem;
        font-size: 1rem;
        outline: none;
        border: none;
        border-radius: $border-radius;
        color: $primaryText;
        background: $secondaryBackground;
        border: 1px solid transparent;

        &:disabled {
            opacity: 0.5;
        }
    
        &:hover {
            border: 1px solid rgba(218, 202, 235, 1)
        }

        &:focus {
            border: 1px solid rgba(218, 202, 235, 1)
        }
    }

    &.small {
        input {
            height: 2.5rem;
        }
    }
}
