# PRIVATE KEY OF THE ACCOUNT USED TO SEND EMAILS
PRIVATE_KEY=""
# PUBLIC ADDRESS OF THE SAME ACCOUNT
REACT_APP_EMAIL_ACCOUNT_ADDRESS=""

# ARBITRUM ONE RPC OR IEXEC CHAIN NAME
IEXEC_RPC_URL="arbitrum-mainnet"

# MAXIMUM PRICES PER EMAIL TASK IN nRLC (1 RLC = 1,000,000,000 nRLC)
IEXEC_DATA_MAX_PRICE_NRLC="0"
IEXEC_APP_MAX_PRICE_NRLC="0"
IEXEC_WORKERPOOL_MAX_PRICE_NRLC="100000000"

# DELAY BETWEEN SEQUENTIAL TASK CREATION TRANSACTIONS
IEXEC_SEND_DELAY_MS="2000"
