@import '@/styles/sizes.scss';
@import '@/styles/global.scss';

.wrapper {
    padding: $global-spacing;
    padding-bottom: 4rem;

    .container {
        @include container;
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        .title {
            font-size: 0.875rem;
            font-weight: 600;
        }
        .text {
            font-size: 0.875rem;
            color: $secondaryText;
        }
    }
    .placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15rem;
        border-radius: $border-radius;
        background-color: $secondaryBackground;
        margin-bottom: 1.25rem;

        .placeholderTitle {
            margin-bottom: 0.5rem;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        border-radius: $border-radius;
        margin-bottom: 1.25rem;

        @include lg {
            flex-direction: row;
        }
    }
}
