@mixin container {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

@mixin on-mobile {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin breakpoint-down-from($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 899px) {
      @content;
    }
  } @else if $breakpoint == large-tablet {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == small-desktop {
    @media (max-width: 1399px) {
      @content;
    }
  } @else if $breakpoint == medium-desktop {
    @media (max-width: 1799px) {
      @content;
    }
  } @else if $breakpoint == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
