@import '@/styles/global.scss';
@import '@/styles/sizes.scss';

.home {
    background-color: $primaryBackground;
    padding: 2rem;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .wrapper {
        @include container;
        min-height: 70vh;
        padding: $global-spacing;
        display: flex;
        align-items: center;
        background-color: $secondaryBackground;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        flex-direction: column;
        margin: 0 auto;

        @include lg {
            padding: 2rem;
            flex-direction: row;
        }

        .banner {
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            padding: $global-spacing;
            gap: 3rem;

            @include lg {
                max-width: 50%;
                padding: 3rem;
            }

            .content {
                display: flex;
                flex-direction: column;

                .poweredBy {
                    margin-bottom: $global-spacing;
                    border-radius: $border-radius;
                    background-color: $tertiaryBackground;
                    padding: calc($global-spacing / 2) $global-spacing;
                    width: fit-content;

                    span {
                        font-size: $font-size-small-subtitle;
                        color: $secondaryText;
                        font-weight: $font-weight-bold;
                    }
                }

                .title {
                    font-size: $font-size-title;
                    font-weight: $font-weight-bold;
                    margin-bottom: $global-spacing;
                    margin-bottom: 1.5rem;
                }

                .description {
                    font-size: $font-size-subtitle;
                    color: $secondaryText;
                    margin-bottom: $global-spacing;
                }
            }

            .inputContainer {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;

                .inputLabel {
                    color: $secondaryText;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 19.36px;
                    margin-left: 0.25rem;
                }
            }
        }

        .imageContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
                width: 70%;
                margin-top: 2rem;
            }
        }
    }

    .content {
        @include container;
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        gap: 2rem;

        @include lg {
            flex-direction: row;
        }
    }
}
