@import '@/styles/sizes.scss';
@import '@/styles/global.scss';

.Page {
    display: flex;
	flex-direction: column;
	padding: 0 $global-spacing;
	
	@include lg {
		padding: $global-spacing;
		overflow-y: auto;
		height: 100vh;
	}
}