@import '@/styles/global.scss';

.wrapper {
    display: flex;
    align-items: stretch;
    gap: 1.25rem;

    .card {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 15rem;
        width: 24rem;
        border-radius: $border-radius;
        padding: 1rem;
        color: $alternativeText;

        &.extensionCard {
            background-color: $primaryAccent;

            .text {
                max-width: 12.5rem;
            }
        }
        &.emailCard {
            background-color: #9639f3;

            .form {
                display: flex;
                flex-direction: column;
            }

            .input {
                height: 2.75rem;
                border-radius: $border-radius;
                padding: 0.75rem;
                font-weight: 500;
                font-size: 1rem;
                border: none;
                margin-bottom: 1rem;
            }
            .button {
                height: 2.5rem;
                border-radius: $border-radius;
                font-weight: 600;
                font-size: 1rem;
                background-color: #e9e2f0;
                color: #7017c9;
                border: none;
                cursor: pointer;
            }
        }

        .logo {
            position: absolute;
            right: -25%;
            bottom: -10%;
            width: 16rem;
            height: 16rem;
            opacity: 0.15;
        }

        .title {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 0.75rem;
        }
        .text {
            font-size: 0.875rem;
        }

        .downloadLink {
            background-color: rgba(#f0e4e2, 0.48);
            border-radius: $border-radius;
            width: 13.125rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
            color: $alternativeText;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;

        .card {
            width: 100%;
        }
    }
}
